@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Cookie);

/*
 * #00093b - DARK BLUE (logo) - Used in header, footer
 * #7aa2cf - LIGHT BLUE - Used as link color
 * #DCE4F2 - LIGHT GREY - Used as accent
 */

body {
	font-family:'Montserrat';
    font-size:1.2em;
}

a {
    color:#7aa2cf;
}

a:hover {
    color:inherit;
}

.item-main {
    font-size:1em !important;
    text-transform: none;
}

.script {
	font-family:'Cookie';
	font-size:3em;
    text-align:center;
    color:#00093B;
    /*
    border-bottom:2px solid #1961F3;
    width:50%;
    margin-left:25%;
    */
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 5em;
    padding-top:1em;
}

@media only screen and (min-width:660px) {
    .home-grid {
        border-right: 1px solid rgba(34, 36, 38, 0.1);
    }
}

@media only screen and (max-width: 660px) {
    .main.container {
        padding-top:0em;
    }
}

.ui.footer.segment {
	margin: 5em 0em 0em;
    padding: 5em 0em;
	background-color:#00093b;
}

.footer {
}

.google-map {
	position: relative;
	padding-bottom: 100%; 
	height: 0;
	overflow: hidden;
}

.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a.active.item {
    color:#DCE4F2 !important;
}

.ui.list.active.item {
    font-weight:bold;
}

.grid-hover {
    position:absolute;
    width:100%;
    height:100%;
    font-size:1.5em;
    line-height:1em;
    display: flex;
    text-transform:uppercase;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    color:#7aa2cf;
}

.grid-hover-img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
}

.grid-hover-img:hover, .grid-hover-img:focus {
    opacity:0.10;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media only screen and (max-width:660px) {
    .grid-hover {
    }
}

.header-img{
	width:10%;
	float:left;
	margin-left:2%;
}

.border-right {
	border-right:1px solid rgba(34, 36, 38, 0.1);
}

.bold-text {
	font-weight: bold;
}

.light-blue {
    color:#1A65FC;
}

.div-center {
    text-align:center;
}

.no-margin {
    margin:0;
}

.no-bottom-margin {
    margin-bottom:0;
}

.ui.blue.button {
    background-color:#7aa2cf !important;
}

.ui.blue.button:hover{
    background-color:#00093b !important;
}

/* Individual card layouts */
.product-item {
}

.ui.card {
}

.ui.card > .content {
    font-size:11px;
    letter-spacing: 0px;
    background-color:#fff;
    z-index:99;
    /*background-color:#7aa2cf;*/
}

.ui.card > .content > a.header {
    font-size:2em;
    /*color:#7aa2cf;*/
    color:#00093B;
    text-transform: uppercase;
}

/* Product Category Grids */
#productModals {
    height:0;
    width:0;
}

.item-desc {
    text-align: center;
}

.item-price {
    margin:0 auto 10px auto;
    width:80%;
    font-size:1.2em;
    border-bottom:1px solid rgba(34, 36, 38, 0.1);
}

.item-title {
    font-size:1.5em;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.item-subtitle {
    text-align:left;
    font-size:1.2em;
}

.quote {
    position:relative;
    opacity:0.15;
    margin:-1.75em -0.50em 0.50em 0;
    line-height:1em;
}

/* Refine dropdown */
.ui.dropdown {
    width:100% !important;
    border:none !important;
    border-bottom:1px solid rgba(34, 36, 38, 0.1) !important;
}

.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
    border:1px solid rgba(34, 36, 38, 0.1) !important;
    z-index:9999;
}

.dropdown-label {
    margin-bottom:0;
}

.ui.breadcrumb {
    margin-bottom:1em;
}

#toTop {
    position:fixed;
    text-align:center;
    font-size:0.75em;
    vertical-align:center;
    bottom:-10em;
    right:5;
    height:10em;
    width:10em;
    border-radius:100%;
    border:6px double;
    z-index:9999;
    background-color:#fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#toTop a{
    color:#00093B;
}

.show {
    bottom:-6em !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bottom-grid-links {
    text-align:center;
    margin-top:1%;
}

.bottom-grid-links input{
    margin-left:auto;
    margin-right:auto;
}

/* Back to Top */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 660px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* Header Elements*/
header {
    width: 100%;
    height: 4em;
    line-height:100%:;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #00093b;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    color:#fff;
}

/* Hamburger Menu Elements */
.ui.vertical.menu {
    background-color: #00093b;
    z-index:9999;
}

.ui.vertical.menu .menu-item {
    display:block;
    width:90%;
    padding:1em 0.5em;
    margin-left:5%;
    line-height:1.5em;
    font-size:1.1em;
    letter-spacing:1px;
    font-family:'Montserrat';
    border-top:1px solid #E2DEDC;
    text-transform: uppercase;
    color:#E2DEDC;
    transition: background 0.1s ease 0s, box-shadow 0.1s ease 0s, color 0.1s ease 0s;
}

.ui.vertical.menu .menu-item:hover {
    background-color:#000c4f;
    transition: background 0.1s ease 0s, 
                box-shadow 0.1s ease 0s, 
                color 0.1s ease 0s;
}


.ui.vertical.menu .menu-item.first-item {
    border-top:none;

}
.ui.vertical.menu .menu-item.first-item:hover {
}


.ui.vertical.menu .item.menu-opener {
    font-family:'Montserrat';
    padding-bottom:2em;
}

.ui.accordion .title:not(.ui){
    font-size:inherit;
    color:#fff;
    padding:0;
    font-family:'Montserrat';
}

.ui.inverted.menu .dropdown.item.secondary, 
.ui.inverted.menu .link.item.secondary, 
.ui.inverted.menu a.item.secondary, 
.ui.link.inverted.menu .item.secondary {
    font-size:0.8em;
}

#show-sidebar {
    position:absolute;
    line-height:4em;
    font-size:1em;
    left:1em;
    letter-spacing:1px;
    font-family: 'Montserrat';
}

#toggle-view {
    position:absolute;
    top:8px;
    right:5px;
}

#logo {
	text-align:center;
	width:100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logo img {
    margin-top:7px;
	width:100px;
}

.nav-container {
	float:left;
	width:88%;
}

.navlinks {
	text-transform: uppercase;
	text-align:center;
	line-height:75px;
	font-size:2em;
}

a.navlink {
	padding:0 5%;
	color:#d4d5f6;
}

a.navlink:hover {
	color:#fff;
}

/* Hours page */
.store-days {
    color:#00093B;
}
.store-hours {
    margin-top:1em !important;
    color: #7aa2cf; 
    background-color:#DCE4F2;
}

/* FAQ page */
.faq-container .ui.segments {
    margin:2em 0;
}

.ui.segments .segment {
    text-align:center;
}

.ui.secondary.segment {
    text-align:left;
    background-color: #DCE4F2;
}

.faq-list a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media all and (max-width: 660px) {
    #navbar {
        display:none;
    }

    .google-map {
        padding-bottom:70%;
    }

    /* Resize Google Maps on small viewports*/
    .google-map iframe {
        position: absolute;
        top: 0;
        height: 70%;
    }

    #logo img {
        margin-top:15px;
        width:70px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #show-sidebar {
        line-height:3em;
    }

    header {
        height:3em;
    }

    .smaller {
        margin-top:0px !important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #toTop {
        font-size: 0.6em;
        line-height: 1.5em;
        width:5em;
        height:5em;
        bottom:-5em;
        opacity:1;
    }

    .topText {
        display:none;
    }

    .show {
        bottom:-2.75em !important;
    }
}

@media all and (min-width: 660px) {
	#show-sidebar {
        display:none;
    }
    #logo {
        float:left;
        margin:0 0 0 1%;
        width:9%;
    }

    #logo img {
        width:100%;
    }

    #navbar {
        float:left;
        width:90%;
        padding:0 5%;
        display:flex;
        justify-content: space-between;
    }

    #navbar .item {
        font-size:2em;
        padding-bottom:0.2em;
        margin-top:0.6em;
    }

    #navbar .item.active {
        border-bottom:3px solid #DCE4F2;
    }

    #navbar .item a {
    }

    #navbar .popup {
        width:100%;
    }

    #navbar .ui.list .item {
        line-height:1.5em;
        font-size:1.5em;
        color:#DCE4F2;
        padding:0 5%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; 
    }

    #navbar .ui.list .item:hover {
        background-color:#7aa2cf;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; 
    }

    #navbar .ui.popup, .ui.bottom.right.popup:before{
        background-color:#00093B;
    }

    #navbar .ui.popup {
        border:1px solid #DCE4F2;
    }
}
