@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Cookie);

body {
	font-family:'Montserrat';
}

.script {
	font-family:'Cookie';
	font-size:3em;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 5em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
    padding: 5em 0em;
	background-color:#08062b;
}

.footer {
}

.ui.card.content {
    background-color:yellow;
}

.google-map {
	position: relative;
	padding-bottom: 100%; 
	height: 0;
	overflow: hidden;
}

.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.active.item {
}

.ui.list.active.item {
    font-weight:bold;
}

.header-img{
	width:10%;
	float:left;
	margin-left:2%;
}

.border-right {
	border-right:1px solid rgba(34, 36, 38, 0.1);
}

.bold-text {
	font-weight: bold;
}

.div-center {
    text-align:center;
}

.category-list{
    padding-left:15px;
}

.item-main {
    font-size:0.7em;
    letter-spacing: -1px;
}

.item-desc {
    text-align: center;
}

.item-price {
    margin:0 auto 10px auto;
    width:80%;
    border-bottom:1px solid rgba(34, 36, 38, 0.1);
}

.item-title {
    text-transform: uppercase;
    letter-spacing: -1px;
}

.item-subtitle {
    text-align:left;
}

/* fjdkls;aghj */
header {
    width: 100%;
    height: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #08062b;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    color:#fff;
}

#show-sidebar {
    position:absolute;
    top:5px;
    left:5px;
}

#toggle-view {
    position:absolute;
    top:5px;
    right:5px;
}

#logo {
	text-align:center;
	width:100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logo img {
	width:50px;
}

.nav-container {
	float:left;
	width:88%;
}

.navlinks {
	text-transform: uppercase;
	text-align:center;
	line-height:75px;
	font-size:2em;
}

a.navlink {
	padding:0 5%;
	color:#d4d5f6;
}

a.navlink:hover {
	color:#fff;
}
/*
header.smaller {
    height: 25px;
   	font-size:0.5em;
}
header.smaller #logo {
    width: 50px;
    height: 50px;
    line-height: 25px;
}

header.smaller .nav-container {
	height:25px;
	line-height:25px;
}

header.smaller .nav-container a {
    line-height: 25px;
}

@media all and (max-width: 660px) {
	header {
		height:50px;
	}

    header #logo {
    	width:80px;
    	height:80px;
    }

    header .navlinks {
    	text-align:left;
    	font-size:0.75em;
    }

    header a.navlink {
    	padding:0;
    }

    header .nav-container {
    	width:200px;
        height: 50px;
    }
    header .nav-container a {
        line-height: 50px;
    }
    header.smaller {
        height: 25px;
    }
    header.smaller #logo {
        height: 40px;
    }
    header.smaller .nav-container {
        height: 25px;
    }
    header.smaller .nav-container a {
        line-height: 25px;
    }
    header.smaller a.navlink {
    	padding:0;
    }

    header.smaller .navlinks {
    	font-size:0.75em;
    }

}
*/