@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Cookie);

body {
	font-family:'Montserrat';
}

.script {
	font-family:'Cookie';
	font-size:3em;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
    padding: 5em 0em;
	background-color:#08062b;
}

.footer {
}

.google-map {
	position: relative;
	padding-bottom: 100%; 
	height: 0;
	overflow: hidden;
}

.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.active.item {
	color:green;
}

.header-img{
	width:10%;
	float:left;
	margin-left:2%;
}

.border-right {
	border-right:1px solid rgba(34, 36, 38, 0.1);
}

.bold-text {
	font-weight: bold;
}

/* fjdkls;aghj */
header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #08062b;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#logo {
	float:left;
	width:10%;
	margin-left:2%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logo img {
	width:100%;
}

.nav-container {
	float:left;
	width:88%;
}

.navlinks {
	text-transform: uppercase;
	text-align:center;
	line-height:75px;
	font-size:2em;
}

a.navlink {
	padding:0 5%;
	color:#d4d5f6;
}

a.navlink:hover {
	color:#fff;
}

header.smaller {
    height: 25px;
   	font-size:0.5em;
}
header.smaller #logo {
    width: 50px;
    height: 50px;
    line-height: 25px;
}

header.smaller .nav-container {
	height:25px;
	line-height:25px;
}

header.smaller .nav-container a {
    line-height: 25px;
}

@media all and (max-width: 660px) {
    header #logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 75px;
    }
    header.smaller #logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    header.smaller nav {
        height: 35px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
}